<% layout (`layouts/boilerplate.ejs`)%>
<div class="row">
    <div class="col-6 ">
        <div class="card mb-3">
            <img src="<%=campground.image%>" class="card-img-top" alt="Not loaded">
            <div class="card-body">
                <h5 class="card-title"><%=campground.title%></h5>

            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Location: <%=campground.location%></li>
                <li class="list-group-item">Price: $<%=campground.price%>/night</li>
                <li class="list-group-item">Description: <%=campground.description%></li>
            </ul>
            <div class="card-body text-center">
                <a class="btn btn-success" href="/campgrounds/<%=campground._id%>/edit" class="card-link">Edit</a>

                <form class="d-inline" method="POST" action="/campgrounds/<%=campground._id%>?_method=DELETE">
                    <button class="btn btn-danger">Delete</button>
                </form>

                <a class="btn btn-secondary" href="/campgrounds" class="card-link">Back</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>


    </div>
    <div class="col-6">
        <h2>Share your review</h2>
        <form class="needs-validation" method="POST" action="/campgrounds/<%=campground._id%>/reviews" novalidate>
            <div class="mb-3">
                <label for="rating" class="form-label">Rating</label>
                <input type="range" class="form-range" id="rating" name="rating" min="1" max="5">
            </div>

            <div class="mb-3">
                <label class="form-label " for="body">Review:</label>
                <textarea name="body" id="body" cols="10" rows="5" class="form-control" placeholder="Share with us"
                    required></textarea>
            </div>
            <button class="btn btn-primary mb-3" type="submit">Submit</button>
        </form>


        <%for (let review of campground.reviews){%>
        <div class="card mb-3">
            <div class="card-body">

                <p class="fs-2 card-title"><b>Rating: <%=review.rating%></b> </p>
                <p class="fs-3 card-body"><%=review.body%></p>

                <form class="" method="POST"
                    action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE">
                    <button class="btn btn-md btn-danger">Delete</button>
                </form>
            </div>
        </div>
        <%}%>
    </div>
</div>
<script>
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>