<% layout (`layouts/boilerplate.ejs`)%>
<h1><%=findCamp.title%></h1>
<h2><%=findCamp.location%></h2>
<img src="<%=findCamp.image%>">
<h3><%=findCamp.description%></h3>
<p><a href="/campgrounds">Back to all campgrounds</a></p>


<a href="/campgrounds/<%=findCamp._id%>/edit">Edit</a>

<form method="POST" action="/campgrounds/<%=findCamp._id%>?_method=DELETE">
    <button>Delete</button>
</form>